button {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  outline: none;
  padding: 1rem 2rem;
  transition: all 0.2s;

  &:hover {
    background-color: black;
    color: white;
  }
}
