ol {
  list-style-type: decimal;
  margin-bottom: 2rem;
  padding-left: 3rem;

  &.grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    > * {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 20rem;
    }
  }
}
