table {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 100%;

  thead {
    border-bottom: 1px solid black;
    font-weight: bold;
  }

  th, td {
    text-align: center;
    width: calc(100% / 3)
  }

  th {
    font-weight: bold;
  }
}
