<article>
  <h2>Who are we?</h2>

  <p>Here at Pok&eacute;bag we believe in doing </p>





  <h2>So why violate Pok&eacute;mon GO's Terms of Service?</h2>

  <p>Here at Pok&eacute;bag, we stand by a couple of tenants:</p>

  <h3>We believe that no game is 100% complete with out unlocking it's community achievement</h3>

  <p>Every good game has a community to rally around it. We defend it from the haters. We actively document bugs. We theorize about everything that could be. We even search for and create our own hubs if they aren't made for us.</p>

  <p>Without us, a game is doomed to drown in the ever growing sea of new titles that modern gamers are faced with. This isn't a threat &mdash; it's a fear. I frequently find amazing games that I've never heard of because they have no community. It's terribly disappointing. On the flip side, there are hundreds or thousands of other games which continue to thrive many years after release. Every one of these games can be found to have a massive and vibrant community.</p>

  <h3>We believe in doing the right thing</h3>

  <p>Typically, we are religiously verifying that we are indeed working within a game's Terms of Service when we're building tools to augment that game. Though we may currently be violating Pok&eacute;mon GO's Terms of Service, we are usually religious in our attempts to </p>

</article>
