<fieldset>
  <legend>Account type</legend>

  <input checked id="account-type-google" name="account-type" type="radio"> <label for="account-type-google">Google</label><br>
  <input disabled id="account-type-ptc" name="account-type" title="Sorry, we don't support PTC accounts yet" type="radio"> <label for="account-type-ptc">Pokemon Trainer Club</label>
</fieldset>

<input id="email" name="email" placeholder="Email" type="text"><br>
<input id="password" name="password" placeholder="Password" type="password">

<menu type="toolbar">
  <div class="primary">
    <button type="submit">Login</button>
    <div id="google-signin"></div>
  </div>
</menu>
