.card {
  align-items: center;
  animation-duration: 0.5s;
  animation-name: fade-in;
  border: 1px solid black;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;

  header {
    display: flex;
    position: relative;
    width: 100%;

    .no {
      background-color: black;
      color: white;
      margin-right: 0.5rem;
      padding: 0 0.5rem;
    }

    .cp {
      padding: 0 0.5rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  menu {
    border-top: 1px solid black;
    width: 100%;
  }
}
