<form class="markdown-editor">
  <input id="username" name="username" placeholder="Username" type="text" value="spam@trezy.com">
  <input id="password" name="password" placeholder="Password" type="text" value="fuckitall">

  <menu type="toolbar">
    <button class="primary" type="submit">Login</button>
    <div class="g-signin2" data-onsuccess="googleAuth"></div>
  </menu>
</form>
