<ul>
  <li>
    <a href="/pokemon">
      <span>Pokemon</span>
    </a>
  </li>

  <li>
    <a href="/eggs">
      <span>Eggs</span>
    </a>
  </li>

  <li>
    <a href="/inventory">
      <span>Inventory</span>
    </a>
  </li>

  <li>
    <a href="/badges">
      <span>Badges</span>
    </a>
  </li>

  <li>
    <a href="/login">
      <span>Login</span>
    </a>
  </li>

  <li>
    <a href="/logout">
      <span>Logout</span>
    </a>
  </li>
</ul>
